@import "~bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Ubuntu:400,700&subset=cyrillic');
// color scheme (flat-ui)
$blue: #2980b9;
$blue-light: #3498db;
$blue-dark: #34495e;
$green: #2ecc71;
$green-dark: #27ae60;
$yellow: #f1c40f;
$orange: #f39c12;
$red: #e74c3c;

$grey: #bdc3c7;

// set colors
$light: $grey;
$dark: $blue-dark;
$primary: $blue;
$info: $blue-light;
$success: $green;
$warning: $orange;
$danger: $orange;

// font family
$family-zahias: 'Ubuntu', serif;
$family-sans-serif: $family-zahias,BlinkMacSystemFont, -apple-system,"Helvetica Neue", "Helvetica", "Arial", sans-serif;

$navbar-background: $blue;
$navbar-item: $white;

// Import the rest of Bulma
@import "~bulma/bulma";